.top-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #dfdfdf solid 2px;
}

.top-bar-image {
  padding-top: 2px;
  padding-bottom: 15px;
}

.burger-menu-icon {
  position: absolute;
  right: 0;
  color: #dfdfdf;
  font-size: 1.5rem;
  cursor: pointer;
}
